.time-wrapper.wiggle {
  animation: wiggle-left-right 0.1s ease-in-out;
  animation-iteration-count: 2;
}

@keyframes wiggle-left-right {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}
